* {
    font-family: sans-serif;
    line-height: 1.6;
}

pre {
    margin-left: 2em;
}

code {
    font-family: monospace;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 42em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.0em;
}

ul.list-of-posts {
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
}

time {
    color: #888;
    font-size: 0.888em;
}
