{{ partial "header.html" . }}
<main>
<article>
    <h1>{{ .Title }}</h1>
    <time>{{ .Date.Format "January 02, 2006" }}</time>
    {{- with .Content -}}
    <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\">.+)(</h[1-9]>)" "$1 <a href=#$2>#</a>$3" | safeHTML }}
    </div>
    {{- end -}}
</article>
</main>
{{ partial "footer.html" . }}
