<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $css := "css/style.css" | absURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ $favicon := "images/rocket.png" | absURL }}
<link rel="shortcut icon" href="{{ $favicon }}">
<title>{{ .Title }}</title>
</head>

<body>
