{{ partial "header.html" . }}
<main>
<section>
    <!-- this section is populated from content/_index.md -->
    <header>
    <h1>{{.Title}}</h1>
    </header>

    <article>
    {{.Content}}
    </article>
</section>
<section>
    <ul class="list-of-posts">
    {{ range (where .Site.RegularPages.ByDate "Type" "blog").Reverse }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> <time>{{ .Date.Format "2006-01-02" }}</time></li>
    {{ end }}
    </ul>
</section>
</main>
{{ partial "footer.html" . }}
